@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-title: "Archivo Black", sans-serif;
  --font-body: "Montserrat", sans-serif;

  --color-bg: #7ca200;
  --color-fg: #6f8170;
}
